
.titlename{
    font-family:Comic Sans MS, Comic Sans, cursive;
    text-align:center;
    font-size: 5vw;
    background-color:#f95d9b;
    background-size:100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-shadow: 0 0.1vw 0 white,
               0 0.2vw 0 grey,
               0 0.3vw 0 grey,
               0 0.4vw 0 grey,
               0 0.5vw 0 grey,
               0 0.6vw .1vw rgba(0,0,0,.1),
               0 0 0.5vw rgba(0,0,0,.1),
               0 0.1vw .3vw rgba(0,0,0,.3),
               0 0.3vw .5vw rgba(0,0,0,.2),
               0 0.5vw .10vw rgba(0,0,0,.25),
               0 0.10vw .10vw rgba(0,0,0,.2),
               0 0.20vw .20vw rgba(0,0,0,.15);
}
body{
    background-color:#9cbadd;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#6699cc;
    position: sticky;
  top: 0;
  box-shadow: 0.8vw 0.8vw .3vw grey;
  }
  
  li {
    float: left;
    padding-left:5vw;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size:2vw;
    font-weight:bold;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    border-color: white;
    border-style:none none solid none;
  }


.image1 {
    width:20vw;
    height:15vw;
    margin-left:10vw;
  
}

.image2 {
    width:20vw;
    height:15vw;
    margin-left: 35vw;

}



/*box*/

  #boxes2{
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color:#6699cc;
    color:white;
    font-size: 1.2vw;
    border-color:grey;
    border-style:solid;
  }

  #textwithin{
      padding-left: 2vw;
      padding-right:1vw;
  
  }
    


/*dark mode*/
.dark-mode {
  background-color: #383838;
}
 
.switch {
  margin-top: 1.5vw;
  position: relative;
  width: 2vw;
  height: 2vw;
  float: right;
  margin-right: 63vw;
}

.switch:hover {
  position: relative;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background-color: #383838;
}

.text {
  float: left;
}





